/* Home.css */
.home-page {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero {
  background: #000713;
  color: white;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}

.hero-content h1 {
  font-size: 4rem; /* Kattaroq sarlavha */
  margin-bottom: 30px; /* Kengroq bo'shliq */
  font-weight: 700;
}

.hero-content p {
  font-size: 1.5rem; /* Kattaroq matn */
  margin-bottom: 50px; /* Bo'shliqni kengaytirish */
}

.call-to-action {
  background-color: #000713;
  color: white;
  font-size: 1.2rem; /* Kattaroq tugma matni */
  padding: 18px 35px; /* Kengaytirilgan padding */
  border: none;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: 0px 0px 50px #1a5bff; /* Kengroq soyalar */
  transition: background-color 0.3s ease;
}

.call-to-action:hover {
  background-color: #1a5bff;
}

/* Boshqa bo'limlar uchun CSS */
.about, .services, .advantages, .testimonials {
  padding: 80px 20px; /* Kengaytirilgan padding */
  text-align: center;
  background-color: #f4f4f4;
}

.about h2, .services h2, .advantages h2, .testimonials h2 {
  font-size: 3rem; /* Kattaroq sarlavha */
  margin-bottom: 30px; /* Kengroq bo'shliq */
}

.about p, .services ul, .advantages ul {
  font-size: 1.3rem; /* Kattaroq matn */
  margin-top: 10px;
}

.services ul, .advantages ul {
  list-style: none;
  padding: 0;
}

.services li, .advantages li {
  margin: 15px 0; /* Kengaytirilgan bo'shliq */
  font-weight: 500;
}

.testimonials .testimonial {
  margin: 25px 0; /* Kengroq bo'shliq */
  font-style: italic;
}

.testimonials cite {
  display: block;
  margin-top: 15px; /* Kengaytirilgan bo'shliq */
  font-weight: bold;
  color: #333;
}

/* Mobil qurilmalar uchun moslashuv */
@media (max-width: 768px) {
  .hero-content h1 {
    font-size: 2.5rem; /* Kichik ekranda kichikroq sarlavha */
  }

  .hero-content p {
    font-size: 1.2rem; /* Kichik ekranda kattaroq matn */
  }

  .call-to-action {
    font-size: 1rem;
    padding: 15px 30px;
  }

  .about h2, .services h2, .advantages h2, .testimonials h2 {
    font-size: 2rem; /* Sarlavhalarni kichik ekranda kichikroq qilish */
  }

  .about p, .services ul, .advantages ul {
    font-size: 1.1rem; /* Matnni kichik ekranda yaxshiroq ko'rinishi uchun kattalashtirish */
  }
}
