.navbar {
  background-color: #000713;
  padding: 1rem 2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: clamp(1.5rem, 2.4vw, 2.4rem);
  color: #376fff;
  font-weight: bold;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: clamp(1.5rem, 5vw, 5rem);
}

.nav-links li a {
  color: #ffffff;
  text-decoration: none;
  font-size: clamp(1rem, 1.5vw, 1.5rem);
  transition: color 0.3s;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.nav-links li a:hover {
  color: #1a5bff;
}

.menu-icon {
  display: none;
  cursor: pointer;
}

/* Responsive styles */
@media (max-width: 1024px) {
  .nav-links {
    position: absolute;
    top: 50px;
    right: 0;
    background-color: #000713;
    flex-direction: column;
    width: 100%;
    text-align: center;
    gap: 3.5rem;
    justify-content: center;
    height: 93vh;
    padding: 0rem 0;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
  }

  .nav-links.open {
    transform: translateX(0);
  }

  .menu-icon {
    display: block;
  }
}
